<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>CDN Table</title>
      <!--<link rel="stylesheet" href="css/status.css">-->
    <link href="{{ url_for('static', filename='css/status.css') }}" rel="stylesheet">

  
</head>

<body>

  <html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Table Style</title>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>

<body>
        {% block content %}
          <div class="container">
              {% for message in get_flashed_messages() %}
              <div class="alert alert-warning">
                  <button type="button" class="close" data-dismiss="alert" >&times;</button>
                  {{ message }}
              </div>
              {% endfor %}
              {% block page_content %}{% endblock %}
          </div>
        {% endblock %}
<div class="text">
	{% for un in uname %}
        <text>Now you've logged in as: {{ un }}</text>
      {% endfor %}
</div>
<div class="table-title">
	<h3>CDN Table</h3>
</div>

<table class="table-fill">
	<thead>
		<tr>
			<th class="text-left">origin-hostname</th>
			<th class="text-left">hostname</th>
            <th class="text-left">CNAME</th>
			<!--<th class="text-left">remark</th>-->
			<!--<th class="text-left">CPU-usage</th>-->
			<!--<th class="text-left">storage-usage</th>-->
		</tr>
	</thead>
	<tbody  >
	{% for instance in instances %}
    	<tr>
            <!--some logic should be revised here, join and instance should be one to many-->
            <td class="text-left">{{ instance.origin_hostname }}</td>
    		<td class="text-left">{{ instance.hostname }}</td>
			<td class="text-left">{{ instance.CNAME }}</td>
    		<!--<td class="text-left">{{ instance.cachename }}</td>-->
			<!--<td class="text-left">{{ instance.cpu }}</td>-->
			<!--<td class="text-left">{{ instance.storage }}</td>-->
        </tr>>
  	{% endfor %}

	</tbody>

    <!--starts with JS script-->
    <script>
        function refresher(id)
        {
            var hostname = document.getElementById("hostname").value;
            var origin = document.getElementById("origin-hostname").value;
            location.reload(true);
        }
    </script>

</table>

<!--<button onclick="changetext(this)">Add Instance</button><br/>-->

<form action="/status" method="POST">
hostname:<input type="text" id="hostname" name="hostname"/>
origin-hostname:<input type="text" id="origin" name="origin-hostname"/>
<input type="submit" value="Add Hostname"  onClick="refresher(this)"/><br/>
</form>>
<a href="status">update</a>



</body>

</body>


</html>
