<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>CDN Table</title>
      <!--<link rel="stylesheet" href="css/status.css">-->
    <link href="{{ url_for('static', filename='css/status.css') }}" rel="stylesheet">

  
</head>

<body>

  <html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Table Style</title>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>

<body>
<div class="text">
	{% for un in uname %}
        <text>Now you've logged in as {{ un }}</text>
      {% endfor %}
</div>
<div class="table-title">
	<h3>CDN Table</h3>
</div>

<table class="table-fill">
	<thead>
		<tr>
			<th class="text-left">originIP</th>
			<th class="text-left">cacheIP</th>
			<th class="text-left">remark</th>
			<th class="text-left">CPU-usage</th>
			<th class="text-left">storage-usage</th>
		</tr>
	</thead>
	<tbody  >
		<!--<tr>
			<td class="text-left">128.31.25.73</td>
			<td class="text-left">128.31.25.210</td>
			<td class="text-left">varnish1</td>
			<td class="text-left">30%</td>
			<td class="text-left">70%</td>
		</tr>-->
	{% for instance in instances %}
    	<tr>
    		<td class="text-left">{{ instance.originip }}</td>
    		<td class="text-left">{{ instance.cacheip }}</td>
    		<td class="text-left">{{ instance.cachename }}</td>
			<td class="text-left">{{ instance.cpu }}</td>
			<td class="text-left">{{ instance.storage }}</td>
   		</tr>
  	{% endfor %}

	</tbody>

</table>
  
</body>
  
  

</body>

</html>
